@import 'vars';
@import 'global';

.header__top{
  background-color: $grey;
}
.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header__btn{
  font-size: 14px;
  line-height: 28px;
  padding: 5px 10px;
  width: 140px;
  border-radius: 70px;
  color: #fff;
  background-color: $blue;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.header__menu-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  align-items: center;
  height: 80px;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
  }
}
.menu__search{
  text-align: center;
  &-form{
    min-width: 360px;
    position: relative;
    input{
      display: block;
      width: 100%;
      border-radius: 25px;
      height: 45px;
      border: 1px solid #d9dfe5;
      line-height: 30px;
      padding-left: 25px;
      padding-right: 70px;
      &::placeholder{
        color: #898f96;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: $blue;
      color: #fff;
      width: 70px;
      height: 45px;
      top: 0;
      right: 0;
      border-radius: 25px;
    }
  }
}

.search{
  min-height: 725px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search__inner{
  padding: 170px 0px 130px;
  color: #fff;
  text-align: center;
  position: relative;
  &-title{
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 30px;
    span{
      font-weight: 700;
      display: block;
    }
  }
  &-text{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 70px;
  }
  &-form{
    max-width: 1140px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: -160px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    &::after{
        content: '';
        position: absolute;
        top: -25px;
        right: 20px;
        height: 25px;
        width: 1070px;
        background-color: #fff;
       opacity: .5;
      border-radius: 6px 6px 0px 0px;
    }
    &::before{
      content: '';
      position: absolute;
      top: -15px;
      right: 10px;
      height: 15px;
      width: 1090px;
      background-color: #fff;
      opacity: .5;
      border-radius: 6px 6px 0px 0px;
    }
    form{
      padding: 40px;
      display: flex;
      }
      input{
        width: 100%;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        height: 55px;
        padding-left: 30px;
        padding-right: 195px;
        position: relative;
        &::placeholder{
          color: $form;
        }
      }
      button{
        margin-left: 30px;
        color: #fff;
        background-color: $blue;
        border: none;
        border-radius: 4px;
        width: 225px;
        height: 55px;
    }
  }
}

.search__categories{
  width: 100%;
  position: relative;
}
.categories{
  position: absolute;
  height: 55px;
  top: 0;
  right: 0;
  border-left: 1px solid #dcdcdc;
  padding: 13px 75px 5px 20px;
  color: #555;
}

.search__btn{
  background-color: transparent;
  color: #fff;
  padding: 15px 40px;
  border: 1px solid #fff;
  border-radius: 40px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  transition: all .3s;
  &:hover{
    color: $blue;
    background-color: #fff;
  }
}
.btn-popular{
  margin-left: 30px;
}

.features{
  padding: 185px 0px 100px;
}
.features__inner{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.features__item{
  max-width: 360px;
  height: 400px;
  padding: 40px 20px;
  transition: all .3s;
  &:not(:last-child){
    margin-right: 30px;
  }
  &:hover{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &-img{
    margin-bottom: 40px;
  }
  &-title{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &-text{
    max-width: 300px;
    color: $text;
  }
}

//start slider

.products-slider{
  background-color: $grey;
  padding: 120px 0 110px;
}
.product-slider__title{
  margin-bottom: 50px;
  margin-top: 5px;
  span{
    width: 110px;
    height: 45px;
    background-color: #7347c1;
    margin-right: 30px;
    border-radius: 25px;
  }
}
.product__item{
  background-color: #fff;
  display: flex!important;
  &-img{
    max-width: 500px;
    width: 100%;
    min-height: 450px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-content{
    padding: 55px 55px 25px 50px;
    max-width: 580px;
    color: $text;
  }
  &-title{
    color: #000;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
  }
  &-info{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
  &-author{
    display: flex;
    justify-content: space-between;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 7px;
    }
    span{
      font-size: 15px;
      line-height: 30px;
      color: #000;
      margin-right: 20px;
   } 
  }
  &-category{
    font-size: 15px;
    color: $purple;
    padding-left: 24px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/icons/wordpress.png);
      width: 16px;
      height: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: 1px;
    }
  }
  &-tags{
    display: flex;
    padding: 40px 0px 40px;
    border-bottom: 1px solid #ececec;
  }
  &-btn{
    font-size: 15px;
    color: #868c96;
    margin-right: 7px;
    background-color: #f1f3f6;
    padding: 6px 14px;
    border-radius: 25px;
    &:hover{
      color: #fff;
      background-color: $blue;
    }
  }
  &-buy{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  &-price{
    width: 90px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-right: 7px;
    background-color: $blue;
    border-radius: 25px;
  }
}
.rate-star{
  margin-top: 10px;
}

//end products__slider
//start products

.products{
  padding: 120px 0 120px;
  background-color: #f6f7fb;
}
.products__title{
  margin-bottom: 30px;
  span{
    color: #747b86;
    font-size: 16px;
    line-height: 32px;
    padding-right: 60px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url(../images/icons/products-title.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 5px;
      height: 20px;
      top: 6px;
      right: 30px;
    }
  }
}
.products__inner-btn{
  margin-bottom: 50px;
  padding-left: 30px;
  height: 95px;
  background-color: #fff;
  padding-top: 32px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  border-radius: 4px;
  button{
    height: 30px;
    font-size: 15px;
    color: #747b86;
    border: none;
    background-color: #f1f3f6;
    border-radius: 25px;
    padding: 0 20px;
    margin-right: 5px;
    transition: all .3s;
    &:hover{
      color: #fff;
      background-color: $blue;
    }
  }
}
.products__item{
  max-width: 360px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  &-img{
    min-height: 230px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-name{
    background-color: #fff;
    align-items: center;
  }
  &-content{
    padding: 25px;
  }
  &-title{
    color: #000;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
  }
  &-info{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
  &-author{
    display: flex;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 7px;
    }
    span{
      font-size: 15px;
      line-height: 30px;
      color: #000;
      margin-left: 7px;
    }
  }
  &-category{
    font-size: 15px;
    color: $purple;
    margin-left: 20px;
    padding-left: 26px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/icons/wordpress.png);
      width: 16px;
      height: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: 1.5px;
    }
  }
  &-buy{
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ececec;
  }
  &-price{
    font-size: 15px;
    line-height: 18px;
    color: $blue;
    font-weight: 500;
    border: none;
    background-color: #e6f1fd;
    border-radius: 25px;
    padding: 5px 17px;
    margin-right: 13px;
    transition: all .3s;
    &:hover{
      color: #fff;
      background-color: $blue;
    }
  }
}
.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-btn{
  margin: 0 auto;
  background-color: $blue;
  color: #fff;
  padding: 15px 40px;
  border: 1px solid #fff;
  border-radius: 40px;
  outline: none;
}
.products__btn{
  text-align: center;
  margin-top: 60px;
}






