@import 'vars';
@import 'global';

.header__top{
  background-color: $grey;
}
.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header__btn{
  font-size: 14px;
  line-height: 28px;
  padding: 5px 10px;
  width: 140px;
  border-radius: 70px;
  color: #fff;
  background-color: $blue;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.header__menu-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  align-items: center;
  height: 80px;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
  }
}
.menu__search{
  text-align: center;
  &-form{
    min-width: 360px;
    position: relative;
    input{
      display: block;
      width: 100%;
      border-radius: 25px;
      height: 45px;
      border: 1px solid #d9dfe5;
      line-height: 30px;
      padding-left: 25px;
      padding-right: 70px;
      &::placeholder{
        color: #898f96;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: $blue;
      color: #fff;
      width: 70px;
      height: 45px;
      top: 0;
      right: 0;
      border-radius: 25px;
    }
  }
}

.search{
  min-height: 725px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search__inner{
  padding: 170px 0px 130px;
  color: #fff;
  text-align: center;
  position: relative;
  &-title{
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 30px;
    span{
      font-weight: 700;
      display: block;
    }
  }
  &-text{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 70px;
  }
  &-form{
    max-width: 1140px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: -160px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    &::after{
        content: '';
        position: absolute;
        top: -25px;
        right: 20px;
        height: 25px;
        width: 1070px;
        background-color: #fff;
       opacity: .5;
      border-radius: 6px 6px 0px 0px;
    }
    &::before{
      content: '';
      position: absolute;
      top: -15px;
      right: 10px;
      height: 15px;
      width: 1090px;
      background-color: #fff;
      opacity: .5;
      border-radius: 6px 6px 0px 0px;
    }
    form{
      padding: 40px;
      display: flex;
      }
      input{
        width: 100%;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        height: 55px;
        padding-left: 30px;
        padding-right: 195px;
        position: relative;
        &::placeholder{
          color: $form;
        }
      }
      button{
        margin-left: 30px;
        color: #fff;
        background-color: $blue;
        border: none;
        border-radius: 4px;
        width: 225px;
        height: 55px;
    }
  }
}

.search__categories{
  width: 100%;
  position: relative;
}
.search__categories-btn {
  position: absolute;
  height: 55px;
  top: 0;
  right: 0;
  border-left: 1px solid #dcdcdc;
  padding: 13px 75px 5px 20px;
  color: #555;
}

.search__btn{
  background-color: transparent;
  color: #fff;
  padding: 15px 40px;
  border: 1px solid #fff;
  border-radius: 40px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  transition: all .3s;
  &:hover{
    color: $blue;
    background-color: #fff;
  }
}
.btn-popular{
  margin-left: 30px;
}

.features{
  padding: 185px 0px 100px;
}
.features__inner{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.features__item{
  max-width: 360px;
  height: 400px;
  padding: 40px 20px;
  transition: all .3s;
  &:not(:last-child){
    margin-right: 30px;
  }
  &:hover{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &-img{
    margin-bottom: 40px;
  }
  &-title{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &-text{
    max-width: 300px;
    color: $text;
  }
}

//start slider

.products-slider{
  background-color: $grey;
  padding: 120px 0 110px;
}
.product-slider__title{
  margin-bottom: 50px;
  margin-top: 5px;
  span{
    width: 110px;
    height: 45px;
    background-color: #7347c1;
    margin-right: 30px;
    border-radius: 25px;
  }
}
.product__item{
  background-color: #fff;
  display: flex!important;
  &-img{
    max-width: 500px;
    width: 100%;
    min-height: 450px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-content{
    padding: 55px 55px 25px 50px;
    max-width: 580px;
    color: $text;
  }
  &-title{
    color: #000;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
  }
  &-info{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
  &-author{
    display: flex;
    justify-content: space-between;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 7px;
    }
    span{
      font-size: 15px;
      line-height: 30px;
      color: #000;
      margin-right: 20px;
   } 
  }
  &-category{
    font-size: 15px;
    color: $purple;
    padding-left: 24px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/icons/wordpress.png);
      width: 16px;
      height: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: 1px;
    }
  }
  &-tags{
    display: flex;
    padding: 40px 0px 40px;
    border-bottom: 1px solid #ececec;
  }
  &-btn{
    font-size: 15px;
    color: #868c96;
    margin-right: 7px;
    background-color: #f1f3f6;
    padding: 6px 14px;
    border-radius: 25px;
    &:hover{
      color: #fff;
      background-color: $blue;
    }
  }
  &-buy{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  &-price{
    width: 90px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-right: 7px;
    background-color: $blue;
    border-radius: 25px;
  }
}
.rate-star{
  margin-top: 10px;
}

//end products__slider
//start products

.products{
  padding: 120px 0 120px;
  background-color: #f6f7fb;
}
.products__title{
  margin-bottom: 30px;
  span{
    color: #747b86;
    font-size: 16px;
    line-height: 32px;
    padding-right: 60px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url(../images/icons/products-title.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 5px;
      height: 20px;
      top: 6px;
      right: 30px;
    }
  }
}
.products__inner-btn{
  margin-bottom: 50px;
  padding-left: 30px;
  height: 95px;
  background-color: #fff;
  padding-top: 32px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  border-radius: 4px;
  button{
    height: 30px;
    font-size: 15px;
    color: #747b86;
    border: none;
    background-color: #f1f3f6;
    border-radius: 25px;
    padding: 0 20px;
    margin-right: 5px;
    transition: all .3s;
    &:hover{
      color: #fff;
      background-color: $blue;
    }
  }
}
.products__item{
  max-width: 360px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  &:hover{
    .products__item-img{
      display: none;
      opacity: 0;
    }
    .products__item-hover{
      visibility: visible;
      opacity: 0.902;
      min-height: 230px;
    }
    .products-btn--hover{
      visibility: visible;
      display: inline-block;
    }
    .products__item-hoverbtn{
      padding-top: 100px;
    }
  }
  &-hover{
    opacity: 0;
    background: linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    visibility: hidden;
    text-align: center;
    font-size: 15px;
    transition: visibility 5s, opacity 0.5s linear;
  }
  &-hoverbtn{
    padding-top: 0;
  }
  &-img{
    opacity: 1;
    min-height: 230px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .3s;
  }
  &-name{
    background-color: #fff;
    align-items: center;
  }
  &-content{
    padding: 25px;
  }
  &-text{
    color: #555555;
    max-width: 300px;
  }
  &-title{
    color: #000;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
  }
  &-info{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
  &-author{
    display: flex;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 7px;
    }
    span{
      font-size: 15px;
      line-height: 30px;
      color: #000;
      margin-left: 7px;
    }
  }
  &-category{
    font-size: 15px;
    color: $purple;
    padding-left: 42px;
    position: relative;
    width: 13px;
    height: 20px;
    background-position: 20px 2px;
    background-repeat: no-repeat;
  }
  &-buy{
    display: flex;
    padding: 15px 30px;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #ececec;
  }
  &-price{
    font-size: 15px;
    line-height: 18px;
    color: $blue;
    font-weight: 500;
    border: none;
    background-color: #e6f1fd;
    border-radius: 25px;
    padding: 5px 17px;
    margin-right: 13px;
    transition: all .3s;
    &:hover{
      color: #fff;
      background-color: $blue;
    }
  }
}
.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-btn{
  margin: 0 auto;
  background-color: $blue;
  color: #fff;
  padding: 15px 40px;
  border: 1px solid #fff;
  border-radius: 40px;
  outline: none;
}
.products__btn{
  text-align: center;
  margin-top: 60px;
}
.products-btn--hover{
  background-color: transparent;
  padding: 10px 30px;
  margin-right: 10px;
  visibility: hidden;
  display: none;
  &:hover{
    background-color: #fff;
    color: $blue;
  }
}

//end products
//start features-slider

.features__slider{
  background-color: $grey;
  padding: 120px 0;
}
.features__slider-title{
  margin-bottom: 50px;
  span{
    width: 110px;
    height: 45px;
    background-color: $blue;
    margin-right: 30px;
    border-radius: 25px;
    padding-bottom: 5px;
  }
}

//end features-slider
//start statistics

.stats{
  padding: 90px 0;
  background-color: #212225;
}
.stats__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats__item{
  text-align: center;
  &-img{
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 48px;
    height: 41px;
    margin-bottom: 50px;
  }
  .img-cloud{
    margin-top: 8px;
    display: flex;
    width: 48px;
    height: 29px;
  }
  .img-smile{
    height: 47px;
  }
  .img-users{
    width: 54px;
  }
  &-num{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 17px;
  }
  &-num1{
    color: #feb71d;
  }
  &-num2{
    color: #58c9e9;
  }
  &-num3{
    color: #77de51;
  }
  &-num4{
    color: #ff6a6d;
  }
  &-text{
    font-size: 18px;
    color: #fff;
  }
}

//end statistics
//start reasons

.reasons{
  padding: 110px 0;
  &__title{
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    span{
      color: $blue;
    }
    p{
      font-size: 16px;
      line-height: 30px;
      color: $text;
      max-width: 670px;
      margin: 0 auto;
      padding-top: 30px;
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
  }
}
.reasons__item{
  max-width: 363px;
  min-height: 373px;
  text-align: center;
  padding: 60px 30px;
  margin: 15px 0 30px;
  position: relative;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  &-num{
    font-size: 48px;
    font-weight: 300;
    color: rgba(92, 145, 248, 0.2);
    position: absolute;
    top: 30px;
    left: 15px;
  }
  &-icon{
    margin-bottom: 50px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }
  &-text{
    max-width: 300px;
  }
}

//end reasons
//start images

.images__inner{
  display: flex;
  justify-content: space-around;
}
.image__item{
  text-align: center;
  width: 100%;
  padding: 100px 160px;
  background-repeat: no-repeat;
  background-size: cover;
  &-img{
    margin-bottom: 50px;
  }
  &-title{
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
  }
  &-text{
    color: #fff;
    font-size: 16px;
    margin-bottom: 50px;  
  }
  &-link{
    margin: 0 auto;
    background-color: #fff;
    color: $blue;
    padding: 20px 25px 20px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
  }
}

//end images
//start clients

.clients{
  padding: 120px;
}
.clients__inner{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.clients__item{
  margin-right: 30px;
  padding: 50px 25px;
  position: relative;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border-left: 2px solid $blue;
  &-info{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/content/bubble.png');
      width: 57px;
      height: 51px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 54px;
      right: 42px;
    }
  }
  &-avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 7px;
  }
  &-author{
    margin-left: 15px;
    font-size: 20px;
    color: #000;
  }
  &-job{
    margin-top: 6px;
    font-size: 16px;
    color: #555555;
  }
  &-text{
    color: #555555;
  }
}
.clients__link{
  text-align: center;
  a{
    margin: 0 auto;
    background-color: $blue;
    color: #fff;
    padding: 20px 25px 20px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    margin-top: 50px;
   }
}

//end clients
//start news

.news{
  background-color: $grey;
  padding: 120px 0;
}
.news__inner{
  display: flex;
  margin-top: 60px;
}
.news__item{
  max-width: 361px;
  background-color: #fff;
  &:not(:last-child){
    margin-right: 15px;
  }
  &-img{
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
  }
  &-info{
    padding: 30px 15px;
  }
  &-title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 24px;
  }
  &-text{
    color: #555555;
    overflow: hidden;
  }
  &-stats{
    border-top: 1px solid #ececec;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  &-box{
    max-width: 180px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start; 
    border-left: 1px solid #ececec;
    font-size: 15px;
    color: #7e7e7e;
  }
  &-date{
    font-size: 15px;
    color: #999999;
    padding-left: 25px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/news/icons/clock.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 16px;
      height: 15px;
      left: 0;
      top: 3px
    }
  }
  &-comments{
    padding-left: 25px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/news/icons/bubble.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 16px;
      height: 15px;
      left: 0;
      top: 3px
    }
  }
  &-views{
    padding-left: 25px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/news/icons/eye.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 17px;
      height: 9px;
      left: 0;
      top: 6px
    }
  }
}


//end news
//start join

.join__inner{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.join__item{
  height: 300px;
  &-img{
    margin-bottom: 30px;
    margin-top: 60px;
  }
  &:nth-child(1){
    padding-right: 130px;
    border-right: 1px solid #ececec;
  }
  &-text{
    font-size: 24px;
    color: #000;
    a{
      color: $blue;
    }
    .support{
      color: #7347c1;
    }
  }
}
.join{
  &__box{
    padding: 110px 0 110px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  &__title{
    font-size: 36px;
    margin-bottom: 40px;
    color: #fff;
  }
  &__text{
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
  }
  &__link{
    background-color: #fff;
    color: $blue;
    padding: 20px 43px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    margin-top: 50px;
  }
}

//end join
//start footer

.footer{
  background-color: #262b30;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 115px 0;
  }
}
.footer__copy{
  background-color: #192027;
}
.footer__copy-text{
  text-align: center;
  font-size: 15px;
  color: #999999;
  padding: 40px 0;
  span{
    color: #fff;
  }
}

.footer__col:nth-child(1){
  margin-right: 70px;
}
.footer__col{
  max-width: 270px;
  width: 100%;
  &-menu{
    max-width: 220px;
  }
  &-title{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
  }
  &-link{
    display: block;
    margin-top: -11px;
    margin-bottom: 25px;
  }
  &-text{
    color: #ababab;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}
.footer__social{
  max-width: 360px;
  width: 100%;
}
.footer__info{
  margin-top: 10px;
  color: #ababab;
  font-size: 15px;
  padding-left: 30px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-image: url('../images/content/map-marker.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 5px;
    left: 4px;
    width: 10px;
    height: 17px;
  } 
}
.footer__info-email{
  &::before{
    background-image: url(../images/content/envelope.png);
    width: 17px;
    height: 11px;
    top: 5px;
    left: 0;
  }
}
.footer__info-phone{
  &::before{
    background-image: url('../images/content/phone.png');
    top: 2px;
    left: 0;
    width: 18px;
    height: 17px;
  } 
}
.footer__col-list{
  a{
    margin-bottom: 12px;
    font-size: 15px;
    color: #ababab;
  }
}
.footer__form{
  position: relative;
  margin-bottom: 50px;
  input{
    border: none;
    background-color: #fff;
    display: block;
    width: 100%;
    height: 50px;
    color: #ababab;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 110px;
    position: relative;
    border-radius: 25px;
    outline: none;
    &::placeholder{
      color: #ababab;
      font-size: 15px;
    }
  }
  button{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $blue;
    border: none;
    height: 50px;
    width: 115px;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    outline: none;
    cursor: pointer;
  }
}

.footer__social-link{
  li{
    display: inline-block;
  }
  li:not(:last-child){
    margin-right: 11px;
  }
  a{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    img{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.link-twiter{
  background-color: #19b2f5;
}
.link-facebook{
  background-color: #395799;
}
.link-google{
  background-color: #f05b44;
}
.link-pinterest{
  background-color: #9c0c1c;
}
.link-linkdin{
  background-color: #0da6be;
}
.link-behance{
  background-color: #ea4c89;
}



//end footer
//start products__search

.products__search{
  background: linear-gradient(270deg, rgb(13,62,242) 0%, rgb(45,47,199) 46%, rgb(76,31,156) 100%);
  height: 280px;
  text-align: center;
  &-title{
    font-size: 26px;
    line-height: 30px;
    color: #f3f3f8;
    margin-bottom: 30px;
    span{
      font-weight: 500;
    }
  }
  &-form{
    max-width: 560px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
    input{
      display: block;
      width: 100%;
      border-radius: 40px;
      height: 55px;
      border: 1px solid #747b86;
      line-height: 30px;
      padding-left: 30px;
      padding-right: 110px;
      &::placeholder{
        color: #747b86;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: $blue;
      color: #fff;
      width: 110px;
      height: 55px;
      top: 0;
      right: 0;
      border-radius: 25px;
    }
  }
}
.products__search-inner{
  padding: 70px 0px;
}

//end products__search
//start products__page

.product-page__filter{
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  background-color: #fff;
  &-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-links{
    a{
      font-size: 16px;
      color: #555555;
      margin-right: 30px;
      &.active{
        color: $blue;
      }
    }
  }
  &-price{
    border: 1px solid #eceff2;
    border-radius: 3px;
    max-width: 220px;
    width: 100%;
    font-size: 14px;
    padding: 10px 70px 10px 20px;
    color: #747b86;
    margin-right: 30px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/page-grid/arrow-down.png');
      width: 11px;
      height: 6px;
      top: 17px;
      right: 18px;
    }
  }
  &-quantity{
    border: 1px solid #eceff2;
    border-radius: 3px;
    max-width: 220px;
    width: 100%;
    font-size: 14px;
    padding: 10px 70px 10px 20px;
    color: #747b86;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/page-grid/arrow-down.png');
      width: 11px;
      height: 6px;
      top: 17px;
      right: 18px;
    }
  }
  &-controls{
    border: 1px solid #eceff2;
    margin-left: 30px;
    border-radius: 3px;
    width: 120px;
    font-size: 14px;
    padding: 10px;
    color: #747b86;
    button{
      display: inline-block;
      border: none;
      color: #fff;
      background-color: #fff;
    }
  }
}
.product-page{
  background-color: #eff1f5;
}
.product-page__inner{
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
}
.product-page__aside{
  margin-right: 30px;
}
.aside__item{
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  width: 270px;
  padding: 30px 25px; 
  margin-bottom: 30px;
}
.aside__title{
  border-bottom: 1px solid #e7ebee;
  padding: 0px 20px 20px 0;
  margin-bottom: 30px;
  font-size: 20px;
  color: #010101;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    background-image: url('../images/page-grid/arrow-down.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 5px;
    right: 0;
    width: 13px;
    height: 8px;
  }
}
.aside__list{
  li{
    padding: 6px 0;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/page-grid/arrow-right.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 6px;
      height: 11px;
      top: 11px;
      left: 0;
    }
  }
  a{
    color: #555555;
  }
  span{
    color: #747b86;
    font-size: 15px;
  }
}
.aside-filter{
  .aside__list{
    li::before{
      background-image: url('../images/page-grid/Ellipse.png');
      width: 10px;
      height: 10px;
    }
  }
}
.price-range{
  .aside__title{
    margin-bottom: 15px;
  }
  button{
    padding: 13px 30px;
    text-align: center;
    background-color: $blue;
    color: #fff;
    border-radius: 25px;
    width: 170px;
    border: none;
    font-weight: 500;
    margin: auto;
    display: block;
    margin-top: 60px;
  }
}
.irs--flat .irs-bar{
  background-color: #7347c1;
  height: 6px;
}
.irs--flat .irs-line{
  height: 6px;
  color: #efedf3;
}
.irs--flat .irs-handle{
  width: 18px;
  height: 18px;
  border: 4px solid $blue;
  border-radius: 50%;
  background-color: #fff;
  top: 19px;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-max, .irs--flat .irs-min{
  display: none;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
  display: none;  
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
  color: #7347c1;
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: #f1ecf9;
}
.irs-from, .irs-single, .irs-to{
  top: 50px;
}
.product-page__items{
  .products__item{
    width: 265px;
    margin-right: 30px;
    height: 370px;
  }
  .products__item-buy{
    display: flex;
    justify-content: space-between;
  }
  .products__item:hover .products__item-img{
    display: block;
    opacity: 1;
  }
  .products__item-img{
    min-height: 160px;
  }
  .products__item-category{
    margin-right: 40px;
  }
  .products__item-content{
    padding: 15px;
  }
  .products__item-info{
    margin-bottom: 20px;
  }
  .products__item-buy{
    padding: 15px 10px;
  }
}
.products__item-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__item-rate--shop{
  font-size: 15px;
  color: $blue;
  padding-left: 30px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-image: url('../images/page-grid/cart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    top: 3px;
    left: 4px;
  }
}
.product-page__items{
  display: flex;
}




